/* Start variables */
:root {
    --dark-blue-gray: #2C2D3F;
    --light-dark-blue-gray: #3D3E4F;
    --very-light-dark-blue-gray: rgb(183, 120, 242);
    --very-dark-blue: #1A1A23;
    --light-pink: #FF72B6;
    --ghostwhite: ghostwhite;
    
}
/* End variables */

/* Start About */
.about {
    padding-top: 50px;
}
.about .container h1 {
    font-size: 60px;
    color: var(--ghostwhite);
    text-align: center;
}
@media (max-width:474px) {
    .about .container h1 {
        font-size: 40px;
    }
}
.about .container h1 span {
    background-color: var(--light-pink);
    color: var(--very-dark-blue);
    font-size: 50px;
    padding: 10px 15px;
    border-radius: 10px;
}
@media (max-width:474px) {
    .about .container h1 span  {
        font-size: 30px;
    }
}
.about .container p {
    line-height: 33px;
    color: var(--ghostwhite);
    font-size: 18px;
    max-width: 800px;
    margin: auto;
}
@media (max-width:474px) {
    .about .container p {
        font-size: 16px;
    }
}
/* End About */